---
import { socialLinks } from "../../data/home";
import SocialLinkCard from "./SocialLinkCard.astro";
---

<section class="w-full h-[120px] flex flex-col md:flex-row">
  {
    socialLinks.map((link) => (
      <SocialLinkCard
        href={link.href}
        label={link.label}
        platform={link.platform}
        bgClass={link.bgClass}
        hoverBgClass={link.hoverBgClass}
        hoverTextClass={link.hoverTextClass}
      />
    ))
  }
</section>
